.container {
    text-align: center;
    min-width: min-content;
    text-align: center;
    justify-content: center;
}

.row {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    border-radius: 10px; 
}

.margin {
    margin-top: 60px;
    
    
}

.centrado {
    text-align: center;
    
}

img {
    width: 100%;

}

.contenedor{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    border: solid black 0.1rem;
    border-radius: 10px;
    margin: 0 auto;
    

}

a {
    text-decoration: none;
    color: inherit;
}