
.box {
    padding: 0.5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.formControl{
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    height: 3.2rem;
}

.logo {
    text-align: center;
    
    margin-top: 3%;
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;

    
}

.logo img {
    width: 100%;
    height: auto;
}